//所有的变量

//color
$color-primary: #55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

$color-grey-light:#f7f7f7;

$color-first:#f9ed69;
$color-secondary:#f08a5d;
$color-third:#b83b5e;
$color-text-dark:#333;
$color-text-light:#eee;

//length value
$grid-width:114rem;
$grid-gutter-vertical:8rem;
$grid-gutter-horizontal:4rem;
$grid-row-height:3rem;

//font size
$default-font-size:1.6rem;